@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
.wrap {
  width: 960px;
  margin: auto;
  /* background-color: aliceblue; */
}
.navi {
  padding: 10px 0;
  border-bottom: 1px solid #333;
}
.navi ul {
  display: flex;
  width: 700px;
  background-color: cadetblue;
  margin: auto;
}
.navi ul li {
  width: calc(100% / 4);
  text-align: center;
}
.navi ul li a {
  padding: 20px 0;
  display: block;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.navi ul li a:hover {
  background-color: rgb(84, 139, 141);
}
#signUp {
  width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
fieldset {
  padding: 30px;
  border: 1px solid #bebebe;
}
legend {
  padding: 0 10px;
}
.user,
.room {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.user li label {
  width: 60px;
  display: inline-block;
}
button {
  line-height: 50px;
  font-size: 20px;
  background-color: cadetblue;
  color: #fff;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(84, 139, 141);
  cursor: pointer;
}
