@charset "utf-8";
/* 다른 css에 있는 코드를 공유함 */
@import url("main.css");
#signUp {
  width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
fieldset {
  padding: 30px;
  border: 1px solid #bebebe;
}
legend {
  padding: 0 10px;
}
.user,
.room {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.user li label {
  width: 60px;
  display: inline-block;
}
button {
  line-height: 50px;
  font-size: 20px;
  background-color: cadetblue;
  color: #fff;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(84, 139, 141);
  cursor: pointer;
}
